In [7]:
import pandas as pd

In [9]:
## open the evictions CSV file
df = pd.read_csv("evictionrates.csv")
df

        Year    BOROUGH  Eviction Postcode
0       2018  MANHATTAN              10033
1       2018   BROOKLYN              11233
2       2024  MANHATTAN              10013
3       2025     QUEENS              11374
4       2017     QUEENS              11691
...      ...        ...                ...
118129  2017      BRONX              10458
118130  2018  MANHATTAN              10035
118131  2018   BROOKLYN              11230
118132  2018     QUEENS              11373
118133  2019     QUEENS              11432

[118134 rows x 3 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118134 entries, 0 to 118133
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               118134 non-null  int64
 1   BOROUGH            118134 non-null  object
 2   Eviction Postcode  118134 non-null  int64
dtypes: int64(2), object(1)
memory usage: 2.7+ MB

In [13]:
## count evictions for each borough 
df["BOROUGH"].value_counts()

BOROUGH
BRONX            37367
BROOKLYN         33381
QUEENS           23530
MANHATTAN        19555
STATEN ISLAND     4301
Name: count, dtype: int64

In [15]:
## give me the borough with the highest number of evictions
df.groupby('BOROUGH').size().sort_values(ascending=False).head(1)

BOROUGH
BRONX    37367
dtype: int64

In [17]:
## find the postal code that has the most evictions 
df["Eviction Postcode"].mode()

0    10467
Name: Eviction Postcode, dtype: int64

In [19]:
## list each year with the number of evictions for each borough 
df.groupby(['Year', 'BOROUGH']).size()

Year  BOROUGH
2017  BRONX            7658
      BROOKLYN         6355
      MANHATTAN        3450
      QUEENS           4325
      STATEN ISLAND     734
2018  BRONX            7140
      BROOKLYN         6157
      MANHATTAN        3390
      QUEENS           4452
      STATEN ISLAND     691
2019  BRONX            6244
      BROOKLYN         5312
      MANHATTAN        2818
      QUEENS           3705
      STATEN ISLAND     636
2020  BRONX            1088
      BROOKLYN         1005
      MANHATTAN         521
      QUEENS            696
      STATEN ISLAND     112
2021  BRONX              29
      BROOKLYN          100
      MANHATTAN          68
      QUEENS             36
      STATEN ISLAND      35
2022  BRONX            1175
      BROOKLYN         1871
      MANHATTAN         934
      QUEENS            813
      STATEN ISLAND     274
2023  BRONX            4320
      BROOKLYN         3927
      MANHATTAN        2614
      QUEENS           2022
      STATEN ISLAND     564
2024  BRONX            4705
      BROOKLYN         4475
      MANHATTAN        3153
      QUEENS           3773
      STATEN ISLAND     706
2025  BRONX            5008
      BROOKLYN         4179
      MANHATTAN        2607
      QUEENS           3708
      STATEN ISLAND     549
dtype: int64